<div class="member">
    <div>
        <img class="h-96 w-80" src="./assets/images/daniel-garcia-carrillo_M.png" alt="">
    </div>
    <div class="pt-2.5">
        <h2 class="text-4xl">Dani García</h2>
        <p class="text-base">Ancla del centro del campo rojiblanco durante cuatro temporadas, llegó al
            Athletic procedente de la SD Eibar, donde consiguió el ascenso a LaLiga Santander. Lo hizo tras
            disputar seis años y escalando desde la categoría de bronce hasta Primera antes de recalar en San
            Mamés en el verano de 2018.</p>
    </div>
</div>
<div class="member">
    <div>
        <img class="h-96 w-80" src="./assets/images/asier-villalibre-molina_M.png" alt="">
    </div>
    <div class="pt-2.5">
        <h2 class="text-4xl">Asier Villalibre</h2>
        <p class="text-base">Referencia en la punta de ataque del Bilbao Athletic 2018-19, con el que marcó
            nada menos que 23 goles, superando la histórica cifra de 22 de Julio Salinas. Producto de Lezama
            desde cadetes, adonde llegó del Gernika, debutó con el primer equipo en diciembre de 2016, a las
            órdenes de Valverde, frente a la SD Eibar en San Mamés. Delantero potente en carrera y hábil en el
            remate de cabeza.</p>
    </div>
</div>
<div class="member">
    <div>
        <img class="h-96 w-80" src="./assets/images/oscar-de-marcos-arana_M.png" alt="">
    </div>
    <div class="pt-2.5">
        <h2 class="text-4xl">Oscar De Marcos</h2>
        <p class="text-base">Estandarte del Athletic Club que cumple nada menos que su decimocuarta campaña en
            las filas del primer equipo rojiblanco, en el que ha disputado ya nada menos que 456 encuentros, lo
            que le ha instalado en la novena posición de la historia. Futbolista polivalente, para jugar tanto
            en banda como en posiciones interiores adelantadas, destaca por su capacidad física y su solidaridad
            con los compañeros. Últimamente, se ha asentado como lateral derecho.</p>
    </div>
</div>
<div class="member">
    <div>
        <img class="h-96 w-80" src="./assets/images/mikel-vesga-arruti_M.png" alt="">
    </div>
    <div class="pt-2.5">
        <h2 class="text-4xl">Mikel Vesga</h2>
        <p class="text-base">El vitoriano cumple su sexta temporada en el primer equipo con la moral
            reforzada, ya que el año pasado, con Marcelino, mejoró su registro de participación con 39
            encuentros y dos goles, ante Levante UD y Cádiz CF. Destaca por su envergadura y la lectura de
            espacios en el centro del campo. Se forjó cedido en Sporting y Leganés.</p>
    </div>
</div>
<div class="member">
    <div>
        <img class="h-96 w-80" src="./assets/images/mikel-balenziaga-oruesagasti_M.png" alt="">
    </div>
    <div class="pt-2.5">
        <h2 class="text-4xl">Mikel Balenciaga</h2>
        <p class="text-base">Es la duodécima temporada del lateral de Zumarraga, uno de esos jugadores que
            llegaron de puntillas al Club desde la Real Sociedad y se ha convertido en una pieza sólida, con un
            incalculable valor en cuanto a compromiso. Ha sumado ya 317 encuentros, nada menos que 32 de ellos
            en la última temporada con Marcelino. Bicampeón de la Supercopa, vuelve a encontrarse con Valverde,
            quien le sacó gran rendimiento.
        </p>
    </div>
</div>
<div class="member">
    <div class="h-96 w-80">
        <img class="h-96 w-80" src="./assets/images/inigo-lekue-martinez_M.png" alt="">
    </div>
    <div class="pt-2.5">
        <h2 class="text-4xl">Iñigo Lekue</h2>
        <p class="text-base">Lekue es uno de los jugadores de la plantilla que destaca por su polivalencia, ha
            actuado en los dos laterales e incluso por delante. Participante en el éxito de la Supercopa con
            Valverde cuando era un recién llegado, cumple su octava temporada en el primer equipo con el técnico
            que le hizo debutar, justo después de una campaña con Marcelino en la que ha tenido más partidos que
            en las anteriores, nada menos que 29.
        </p>
    </div>
</div>