<header class="group-header">
    <nav class="navbar navbar-expand-lg bg-light pt-3 pb-3">
        <div class="container-fluid">
            <div class="header_container_logo">
                <a href="index.html">
                    <img class="navbar_logo" src="assets/images/logoOrsai.svg" alt="Logo Orsai">
                </a>
            </div>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav ms-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="members.html">Kideak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="article.html">Who are us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="videos.html">Abestiak</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>