@use "sass:color";

@font-face {
  font-family: 'Galatia SIL';
  src: url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.eot');
  src: url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.eot?#iefix') format('embedded-opentype'),
    url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.woff2') format('woff2'),
    url('https://www.chenhuijing.com/demos/grids-tycho/fonts/galsilb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;

$header-font: 'Galatia SIL', Georgia, serif;
$body-font: 'Avenir Book', 'Franklin Gothic Medium', Helvetica, Arial, sans-serif;

$main: #fff;
$accent: #fe320f;
$text: #282828;
$formBorder: rgb(91, 73, 254);